.subtitle0{
  font-family: 'Kumbh Sans', sans-serif;
  position: absolute;
  font-weight: 300;
  top:45%;
  width: 90%;
  margin-left: 5%;
  font-size: 1.8rem;
  text-align: center;
  display: block;
}

.work_main{
  top:0;
  font-family: 'Kumbh Sans', sans-serif;
  width:90%;
  margin: auto;
  margin-top: 60px;
  height:auto;
  text-align:justify;
}


/* -------------------------------------------------------- */
@media screen and (min-width:800px){
  .subtitle0{
    display: none;
  }

  .work_main{
    font-family: 'Kumbh Sans', sans-serif;
    width:100%;
    height: auto;
    margin:auto;
    text-align:justify;
  }
}
